---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import H1 from "../components/H1.astro";
---

<Layout title="Blog Page">
  <H1>Blog will be here</H1>
</Layout>
