---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import H1 from '../components/H1.astro';
---
<Layout title="lol ok">
<main class="flex flex-col gap-8 p-8">
	<H1>This is the title</H1>

	<Card title='Card title'>
		<p>Card content</p>
		<p>Some more sentences</p>
	</Card>

</main>
</Layout>