---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import H1 from '../components/H1.astro';
---
<Layout title="lol ok">
	<H1>I ❤️ Adri</H1>
	<main class="flex flex-col">
		<section class="flex flex-col gap-8 sm:flex-row">
			<Card title='I like her'>
				<p>My wife is awesome and I like her very much</p>
			</Card>
			<Card title='And I love her'>
				<p>Because she's sweet and delicate and so on</p>
			</Card>
			<Card title="And here's a potato">
				<p>Look at this pretty boy</p>
				<img src="https://stickershop.line-scdn.net/stickershop/v1/sticker/14287234/android/sticker.png?v=1" alt="A potato" />
			</Card>
		</section>
	</main>
</Layout>